@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");
*{
   Margin: 0;
   Padding: 0;
   box-sizing: border-box;
}
body{
   background-color: #dfdbe5;
   font-family: "Montserrat", sans-serif;
}
.header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   justify-content: space-between;
   padding: 1rem 2rem;
   background-color:  #dfdbe5;
   z-index: 1;
 }
 .header a {
   text-decoration: none;
   color: #111;
   font-size: 2rem;
   font-weight: bolder;
 }
 .menu-items {
   list-style: none;
   display: flex;
   align-items: center;
 }
 .menu-items li a {
   font-size: 1.2rem;
   padding: 0.5em 1em;
   transition: background-color 0.3s ease-in-out;
 }
 .menu-items li a:hover {
   background-color: #ccc7d3;
 }
/*nav hamburger menu*/
.menu-btn {
   position: relative;
   display: none;
   justify-content: center;
   align-items: center;
   width: 1.5rem;
   height: 1.5rem;
   cursor: pointer;
   z-index: 1;
 }
 
 .menu-btn_lines,
 .menu-btn_lines::before,
 .menu-btn_lines::after {
   width: 1.5rem;
   height: 0.1rem;
   background-color: #111;
   transition: all 0.5s ease-in-out;
 }
 
 .menu-btn_lines::before,
 .menu-btn_lines::after {
   content: " ";
   position: absolute;
 }
 
 .menu-btn_lines::before {
   transform: translateY(-0.5rem)
 }
 
 .menu-btn_lines::after {
   transform: translateY(0.5rem)
 }
 
 /*animation*/
 .menu-btn.open .menu-btn_lines {
   transform: translateX(2rem);
   background-color: transparent;
 }
 
 .menu-btn.open .menu-btn_lines::before {
   transform: rotate(45deg) translate(-1.5rem, 1.5rem);
   background-color: #ffffff;
 }
 
 .menu-btn.open .menu-btn_lines::after {
   transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
   background-color: #ffffff;
 }
 
.container{
   position: relative;
   min-height: 100vh;
   /*background: #ddd;*/
   padding-top: 5em;
   background-color:  #dfdbe5;
   padding-bottom: 1em;
}

.container .title {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:#573c84;
}

.container h1{
   padding-top: 30px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bolder;
   text-align: center;
   text-transform: capitalize;
   background-color:#573c84;
   color: white;
}
.container h3{
  text-align: center;
  font: 30px;
  background-color:#573c84;
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
}

.container .image-container{
   max-width: 80%;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   gap: 60px;
   justify-content: center;
   padding: 50px;
}
.container .image-container .image{
   height: 450px;
   width: 350px;
   padding: 10px;
   cursor:pointer;
}
.container .image-container .image .image-title{
   color: dark rgb(90, 85, 93);
   font-size: 1.2em;
   font-family: "Montserrat", sans-serif;
   font-family: Verdana, Geneva, Tahoma, sans-serif;;
   text-align: center;
   font-weight: bold;
   padding:3px;
   color: #5a4d70;
}

.container .image-container .image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: 0.2s linear;
   border: 10px solid #fff;
   box-shadow: 0 5px 15px rgba(0,0,0,0.5);
   border-radius: 10px;
   overflow: hidden;
   cursor:pointer;
}

.container .image-container .image:hover img{
   transform: scale(1.02);
}

.container .popup-image{
   position:fixed;
   top:0; left:0;
   background: rgba(0,0,0,0.9);
   height: 100%;
   width: 100%;
   z-index: 100;
   display: none;
}

.container .popup-image span{
   position: absolute;
   top:0; right: 10px;
   font-size: 60px;
   font-weight: bolder;
   color: #fff;
   cursor:pointer;
   z-index: 100;
}   

.container .popup-image img{
   position:absolute;
   top:50%; left: 50%;
   transform: translate(-50%, -50%);
   border: 5px solid #fff;
   border-radius: 5px;
   width: 750px;
   object-fit: cover;
}
.last_section {
  padding: 2vh;
  background-color: #573c84;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 

/* For the Instagram icon */
.fab.fa-instagram {
  padding: 20px;
  font-weight: bold;
  color: rgb(238, 237, 237);
  font-size: 25px;
  transition: opacity 0.4s ease-in-out;
  align-self: center;
}

/* For the Behance icon */
.fab.fa-behance, .fab.fa-artstation {
  padding: 20px;
  color: rgb(238, 237, 237);
  font-size: 25px;
  transition: opacity 0.4s ease-in-out;
  align-self: center;
}

/* Add hover effect for both icons */
.fab.fa-instagram:hover,
.fab.fa-behance:hover,
.fab.fa-artstation:hover {
  background-color: #9f98aa;
  transition: opacity 0.4s ease-in-out;
}

/* Etsy store icon */
.fas.fa-shopping-cart {
  position: relative;
  color: #fff; 
  padding: 20px; 
  font-size: 25px;
  transition: background-color 0.3s ease-in-out; 
  align-self: center;
}
 
.fas.fa-shopping-cart:hover{
  background-color: #9f98aa; 
  &::after {
    content: "Coming Soon";
    position: absolute;
    bottom: 25%; 
    left:30%;
    transform: translateX(-45%);
    transform: translateY(30%);
    font-size: 15px; 
    color: black;
    font-weight: 800;
  }
}

  .fab.fa-pinterest:hover {
    background-color: #9f98aa;

    &::after {
    content: "Coming Soon";
    position: absolute;
    bottom: 25%; /* Adjust the position of the text as needed */
    left:30%;
    transform: translateX(-45%);
    transform: translateY(30%);
    font-size: 15px; /* Adjust the font size of the text */
    color: black; /* Text color */
    font-weight: 800;
    }
  }
  footer p{
    font-size: 1em;
    background-color:#dfdbe5;
  }

/************mobile devices*******/
@media (200px <= width <= 300px){
  .header a{
    font-size: 1.2rem;
  }
 .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }
  .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    color:#5a4d70;
  }
  .container{
    padding-top: 2rem;
    padding-bottom: 0;
  }
  .container h1{
    padding-top: 2.5rem;
    font-size: 1.4rem;
    padding-bottom: 0;
  }
  .container h3{
    font: 0.9rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .container .image-container{
    max-width: 99%;
    width: 100%;
    padding: 10px;
    gap: 34px;
  }
  .container .image-container .image{
    height: 48vh;
    width: 100vw;
    padding-bottom: 0px;
    cursor:pointer;
  }
  .container .image-container .image img{
    border: 3px solid #fff;
  }
  .container .popup-image img{
    width: 98%;
 }
 .last_section{
  margin-top: 2rem;
  padding-left: 0;
  padding-right: 0;
 }
 .footer{
  font-size: 0.9rem;
 }
}
@media (300px <= width <= 500px) {
  .header a{
    font-size: 1.3rem;
  }
  .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }
  .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    color:#5a4d70;
  }
 
  .container .image-container .image .image-title{
    font-size: 1.2rem;
  }
  .container .popup-image img{
    width: 98%;
 }
  .container{
    padding-top: 2rem;
    padding-bottom: 0;
  }
.container h1{
  padding-top: 2.3rem;
  font-size: 1.4rem;
  padding-bottom: 0;
}
.container h3{
  font: 0.9rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.container .image-container{
  max-width: 99%;
  width: 85%;
  padding: 10px;
  gap: 34px;
}
.container .image-container .image{
  height: 52vh;
  width: 100vw;
  padding-bottom: 0px;
  cursor:pointer;
  max-height: 90%;
}
.container .image-container .image img{
  border: 4px solid #fff;
}
.container .popup-image img{
  width: 98%;
}
.last_section{
margin-top: 2rem;
padding-left: 0;
padding-right: 0;
}
.footer{
font-size: 1rem;
}
}
@media (501px <= width <= 600px){
  .header a{
    font-size: 1.3rem;
   
  }
  .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }
   .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    color:#5a4d70;
  }
  .container h1{
    padding-top: 20px;
  }
   .container .image-container{
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding-top: 20px;
 }
  .container .image-container .image{
    height: 250px;
    width: 200px;
    padding: 10px;
    cursor:pointer;
 }
  .container .popup-image img{
    width: 80vw;
  }
  .container .image-container .image img{
    border: 5px solid #fff;
  }
  .container .image-container .image .image-title{
    font-size: 1rem;
  }
}
@media (601px <= width <= 759px){
  .header a{
    font-size: 1.6rem;
  }
  .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }
  .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    color:#5a4d70;
  }
  .container .image-container{
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding-top: 20px;
  }
  .container .image-container .image{
    height: 355px;
    width: 300px;
    padding: 10px;
    cursor:pointer;
 }
  .container h1{
    padding-top: 20px;
  }
  .container .image-container .image img{
    border: 5px solid #fff;
  }
  .container .popup-image img{
    width: 60vw;
  }
}
@media (760px <= width <= 900px){
  .header a{
    font-size: 1.7rem;
  }
  .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }
  .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    color:#5a4d70;
  }
  .container .image-container{
    max-width: 100%;
  }
  .container .popup-image img{
    width: 60vw;
  }
  .container .image-container .image{
    height: 290px;
    width: 260px;
  }
  .container .image-container .image img{
    border: 5px solid #fff;
  }
}
@media (901px <= width <= 1024px){
  .header a{
    font-size: 1.7rem;
  }
  .container .image-container{
    max-width: 95%;
 }
}
@media (1025px <= width <= 1300px){
  .header a{
    font-size: 1.7rem;
  }  
}

/***********Landscape************/
@media only screen and (min-width: 630px) and (max-width: 740px) and (orientation: landscape) {
    .header{
      padding: 1rem 2rem;
    }
    .header a{
      font-size: 1.35rem;
    }
    .menu-btn {
      display: flex;
    }
    .menu-items {
      flex-direction: column;
      justify-content: space-around;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 45vh;
      transform: translateX(100vw);
      background-color: #5a4d70;
      transition: transform 0.3s ease-in-out;
    }
    .menu-items.open {
      transform: translateX(0);
    }
    .menu-items li {
      width: 100vw;
      height: 100%;
    }
    .menu-items li a {
      color: #ffffff;
      font-size: 3vh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    .menu-items li a:hover {
      color:#5a4d70;
    }
     .container .image-container{
      max-width: 70%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 30px;
    }
     .container .image-container .image{
      height: 250px;
      width: 200px;
      padding: 15px;
      cursor:pointer;
    }
    .container h1{
      padding-top: 20px;
    }
    .container h3{
     font: 30px;
     padding-top: 10px;
     padding-bottom: 20px;
    }
    .container .title {
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
    }
   .container .popup-image img{
      width: 178px;
    }
}
@media only screen and (min-width: 800px) and (max-width: 932px) and (orientation: landscape){
  .header a{
    font-size: 1.35rem;
  }
  .container .image-container .image{
    height: 290px;
    width: 230px;
  }
  .container .popup-image img{
   width: 240px;
  }
} 
@media only screen and (min-width: 933px) and (max-width: 1281px) and (orientation: landscape){
  .header a{
    font-size: 1.7rem;
  }   
  .container .popup-image img{
    width: 35vw;
  }
} 
@media only screen and (min-width: 1282px) and (max-width: 1400px) and (orientation: landscape){
  .container .image-container .image{
      height: 300px;
      width: 230px;
    }
    .container .popup-image img{
     width: 35vw;
    }
    .container .image-container .image img{
      border: 5px solid #fff;
    }
} 