@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");
*{
   Margin: 0;
   Padding: 0;
   box-sizing: border-box;
}
body{
   background-color: #dfdbe5;
   font-family: "Montserrat", sans-serif;
}
.header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   justify-content: space-between;
   padding: 1rem 2rem;
   background-color:  #dfdbe5;
   z-index: 1;
 }
 .header a {
   text-decoration: none;
   color: #111;
   font-size: 2rem;
   font-weight: bolder;
 }
 .menu-items {
   list-style: none;
   display: flex;
   align-items: center;
 }
 .menu-items li a {
   font-size: 1.2rem;
   padding: 0.5em 1em;
   transition: background-color 0.3s ease-in-out;
 }
 .menu-items li a:hover {
   background-color: #ccc7d3;
 }
/*nav hamburger menu*/
.menu-btn {
   position: relative;
   display: none;
   justify-content: center;
   align-items: center;
   width: 1.5rem;
   height: 1.5rem;
   cursor: pointer;
   z-index: 1;
 }
 
 .menu-btn_lines,
 .menu-btn_lines::before,
 .menu-btn_lines::after {
   width: 1.5rem;
   height: 0.1rem;
   background-color: #111;
   transition: all 0.5s ease-in-out;
 }
 
 .menu-btn_lines::before,
 .menu-btn_lines::after {
   content: " ";
   position: absolute;
 }
 
 .menu-btn_lines::before {
   transform: translateY(-0.5rem)
 }
 
 .menu-btn_lines::after {
   transform: translateY(0.5rem)
 }
 
 /*animation*/
 .menu-btn.open .menu-btn_lines {
   transform: translateX(2rem);
   background-color: transparent;
 }
 
 .menu-btn.open .menu-btn_lines::before {
   transform: rotate(45deg) translate(-1.5rem, 1.5rem);
   background-color: #ffffff;
 }
 
 .menu-btn.open .menu-btn_lines::after {
   transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
   background-color: #ffffff;
 }
 
.container{
   position: relative;
   min-height: 100vh;
   /*background: #ddd;*/
   padding-top: 5em;
   background-color:  #dfdbe5;
   padding-bottom: 1em;
}

.container .title {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:#573c84;
}


.container h1{
   padding-top: 30px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bolder;
   text-align: center;
   text-transform: capitalize;
   background-color:#573c84;
   color: white;
}
.container h3{
  text-align: center;
  font: 30px;
  background-color:#573c84;
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
  
}

.container .image-container{
   max-width: 80%;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   gap: 60px;
   justify-content: center;
   padding: 50px;
}
.container .image-container .image{
   height: 450px;
   width: 350px;
   padding: 10px;
   cursor:pointer;
}
.container .image-container .image .image-title{
   color: dark rgb(90, 85, 93);
   font-size: 1.2em;
   font-family: "Montserrat", sans-serif;
   font-family: Verdana, Geneva, Tahoma, sans-serif;;
   text-align: center;
   font-weight: bold;
   padding:3px;
   color: #5a4d70;
}

.container .image-container .image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: 0.2s linear;
   border: 10px solid #fff;
   box-shadow: 0 5px 15px rgba(0,0,0,0.5);
   border-radius: 10px;
   overflow: hidden;
   cursor:pointer;
}

.container .image-container .image:hover img{
   transform: scale(1.02);
}

.container .popup-image{
   position:fixed;
   top:0; left:0;
   background: rgba(0,0,0,0.9);
   height: 100%;
   width: 100%;
   z-index: 100;
   display: none;
}

.container .popup-image span{
   position: absolute;
   top:0; right: 10px;
   font-size: 60px;
   font-weight: bolder;
   color: #fff;
   cursor:pointer;
   z-index: 100;
}   

.container .popup-image img{
   position:absolute;
   top:50%; left: 50%;
   transform: translate(-50%, -50%);
   border: 5px solid #fff;
   border-radius: 5px;
   width: 750px;
   object-fit: cover;
}
.last_section {
  padding: 2vh;
  background-color: #573c84;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 

/* For the Instagram icon */
.fab.fa-instagram {
  padding: 20px;
  font-weight: bold;
  color: rgb(238, 237, 237);
  font-size: 25px;
  transition: opacity 0.4s ease-in-out;
  align-self: center;
}

/* For the Behance icon */
.fab.fa-behance {
  padding: 20px;
  color: rgb(238, 237, 237);
  font-size: 25px;
  transition: opacity 0.4s ease-in-out;
  align-self: center;
}

/* Add hover effect for both icons */
.fab.fa-instagram:hover,
.fab.fa-behance:hover {
  background-color: #9f98aa;
  transition: opacity 0.4s ease-in-out;
}

.fab.fa-pinterest{
  position: relative;
  color: #fff;
  padding: 20px;
  font-size: 25px;
  transition: background-color 0.3s;
  z-index: 100;
  align-self: center;
}

/* Etsy store icon */
.fas.fa-shopping-cart {
  position: relative;
  color: #fff; 
  padding: 20px; 
  font-size: 25px;
  transition: background-color 0.3s ease-in-out; 
  align-self: center;
}
 
.fas.fa-shopping-cart:hover{
  background-color: #9f98aa; 
  &::after {
    content: "Coming Soon";
    position: absolute;
    bottom: 25%; 
    left:30%;
    transform: translateX(-45%);
    transform: translateY(30%);
    font-size: 15px; 
    color: black;
    font-weight: 800;
  }
}

  .fab.fa-pinterest:hover {
    background-color: #9f98aa;

    &::after {
    content: "Coming Soon";
    position: absolute;
    bottom: 25%; /* Adjust the position of the text as needed */
    left:30%;
    transform: translateX(-45%);
    transform: translateY(30%);
    font-size: 15px; /* Adjust the font size of the text */
    color: black; /* Text color */
    font-weight: 800;
    }
  }


  footer p{
    font-size: 1em;
    background-color:#dfdbe5;
  }


/************mobile phone size*******/
@media (200px <= width <= 300px){
  .header a{
    font-size: 20px;
  }

  .container .popup-image img{
    width: 98%;
 }

 .menu-btn {
    display: flex;
  }

  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }

  .menu-items.open {
    transform: translateX(0);
  }

  .menu-items li {
    width: 100vw;
    height: 100%;
  }

  .menu-items li a {
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .menu-items li a:hover {
    color: #111111;
    color:#5a4d70;
  }

 .container h1{
  padding-top: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  text-align: center;
  text-transform: capitalize;
  background-color:#573c84;
  color: white;
}
.container h3{
 text-align: center;
 font: 30px;
 background-color:#573c84;
 color: white;
 padding-top: 15px;
 padding-bottom: 20px;
}


  .container .image-container{
    max-width: 99%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

  .container .image-container .image{
    height: 40vh;
    width: 100vw;
    padding: 10px;
    cursor:pointer;
  }
  .container .image-container .image img{
  border: 5px solid #fff;
  }

}

@media (300px <= width <= 500px) {
  .header a{
    font-size: 25px;
  }

  .container .popup-image img{
    width: 98%;
 }

 .menu-btn {
    display: flex;
  }

  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }

  .menu-items.open {
    transform: translateX(0);
  }

  .menu-items li {
    width: 100vw;
    height: 100%;
  }

  .menu-items li a {
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .menu-items li a:hover {
    color: #111111;
    color:#5a4d70;
  }


  .container h1{
    padding-top: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
    text-transform: capitalize;
    background-color:#573c84;
    color: white;
  }
  .container h3{
   text-align: center;
   font: 30px;
   background-color:#573c84;
   color: white;
   padding-top: 10px;
   padding-bottom: 20px;
  }

  .container .image-container{
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    padding: 50px;
  }

  .container .image-container .image{
    height: 110px;
    width: 60vw;
    height: 350px;
    padding: 1px;
    cursor:pointer;
  }
  .container .image-container .image img{
    border: 5px solid #fff;
  }
  .container .image-container .image .image-title{
    font-size: 1.2rem;
  }

}

@media (501px <= width <= 768px){
  .header a{
    font-size: 30px;
  }

   .container .popup-image img{
    width: 60vw;
  }
   
   .menu-btn {
      display: flex;
    }
  
    .menu-items {
      flex-direction: column;
      justify-content: space-around;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 45vh;
      transform: translateX(100vw);
      background-color: #5a4d70;
      transition: transform 0.3s ease-in-out;
    }
  
    .menu-items.open {
      transform: translateX(0);
    }
  
    .menu-items li {
      width: 100vw;
      height: 100%;
    }
  
    .menu-items li a {
      color: #ffffff;
      font-size: 3vh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  
    .menu-items li a:hover {
      color: #111111;
      color:#5a4d70;
    }

  .container .image-container h1{
    font-family: "Montserrat", sans-serif;
    font-weight:lighter;
    padding: 0.5rem;
    text-align: center;
    text-transform: capitalize;
  }

   .container .image-container{
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    padding: 50px;
 }

   .container .image-container .image{
    height: 55vh;
    width: 90vw;
    padding: 10px;
    cursor:pointer;
 }

  .container h1{
    font-family: "Montserrat", sans-serif;
    font-weight:lighter;
    padding: 0.5rem;
    text-align: center;
    text-transform: capitalize;
    color: white;
    font-weight: 700;
    line-height: 5vh;
  }

  .container h4{
    font-size: 1.2em;
    font-size: clamp(20px, 1vw, 80px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:550;
    text-align: center;
    background-color: #a384a8;
    opacity: 0.8;
    color: #1f1b27;
    padding: 0.2rem 0;
  }
  .container h1{
    padding-top: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
    text-transform: capitalize;
    background-color:#573c84;
    color: white;
  }
  .container h3{
   text-align: center;
   font: 30px;
   background-color:#573c84;
   color: white;
   padding-top: 10px;
   padding-bottom: 20px;
  }
  }

  @media (769px <= width <= 920px){
  .container .popup-image img{
    width: 60vw;
  }
}


  @media only screen and (min-width: 630px) and (max-width: 740px) and (orientation: landscape) {
    /* Your CSS styles for the specified screen size range and landscape orientation go here */
    .header{
      padding: 1rem 2rem;
      
    }
    
    .header a{
      font-size: 1.3rem;
    }

    .container .title {
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      background-color:#573c84;
    }
    .container .title h1{
      font-size: 1.5rem;
      padding:1rem;
    }
    .container .title h3{
      margin:0;
      font-size: 1.1rem;
      padding-top:0;
      padding-bottom:0.5rem;
    }

     .menu-btn {
        display: flex;
      }
    
      .menu-items {
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 45vh;
        transform: translateX(100vw);
        background-color: #5a4d70;
        transition: transform 0.3s ease-in-out;
      }
    
      .menu-items.open {
        transform: translateX(0);
      }
    
      .menu-items li {
        width: 100vw;
        height: 100%;
      }
    
      .menu-items li a {
        color: #ffffff;
        font-size: 3vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    
      .menu-items li a:hover {
        color: #111111;
        color:#5a4d70;
      }
  
    .container .image-container h1{
      font-family: "Montserrat", sans-serif;
      font-weight:lighter;
      padding: 0.5rem;
      text-align: center;
      text-transform: capitalize;
    }
  
     .container .image-container{
      max-width: 70%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      /*gap: 60px;*/
      justify-content: center;
      padding: 30px;
   }
  
     .container .image-container .image{
      height: 140vh;
      width: 50vw;
      padding: 15px;
      cursor:pointer;
   }
  
    .container h1{
      font-family: "Montserrat", sans-serif;
      font-weight:lighter;
      padding: 0.5rem;
      text-align: center;
      text-transform: capitalize;
      color: white;
      font-weight: 700;
      line-height: 5vh;
    }
  
    .container h4{
      font-size: 1.2em;
      font-size: clamp(20px, 1vw, 80px);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight:550;
      text-align: center;
      background-color: #a384a8;
      opacity: 0.8;
      color: #1f1b27;
      padding: 0.2rem 0;
    }
    .container h1{
      padding-top: 20px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bolder;
      text-align: center;
      text-transform: capitalize;
      background-color:#573c84;
      color: white;
    }
    .container h3{
     text-align: center;
     font: 30px;
     background-color:#573c84;
     color: white;
     padding-top: 10px;
     padding-bottom: 20px;
    }

    .container .popup-image{
      position:fixed;
      top:0; left:0;
      background: rgba(0,0,0,0.9);
      height: 100%;
      height:100%;
      width: 100%;
      z-index: 100;
      display: none;
   }
   

   .container .popup-image img{
    position:absolute;
    top:50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 200px;
    object-fit: cover;
 }
    }
  
@media only screen and (min-width: 800px) and (max-width: 932px) and (orientation: landscape){
.container .popup-image img{
  width: 240px;
}
} 

@media only screen and (min-width: 933px) and (max-width: 1281px) and (orientation: landscape){
  .container .popup-image img{
    width: 35vw;
  }
  } 

