@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");
*{
   Margin: 0;
   Padding: 0;
   box-sizing: border-box;
}
body{
   background-color: #dfdbe5;
  font-family: "Montserrat", sans-serif;
}
.header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   justify-content: space-between;
   padding: 1rem 2rem;
   background-color:  #dfdbe5;
   z-index: 1;
 }
 .header a {
   text-decoration: none;
   color: #111;
   font-size: 2rem;
   font-weight: bolder;
 }
 .menu-items {
   list-style: none;
   display: flex;
   align-items: center;
 }
 .menu-items li a {
   font-size: 1.2rem;
   padding: 0.5em 1em;
   transition: background-color 0.3s ease-in-out;
 }
 .menu-items li a:hover {
   background-color: #ccc7d3;
 }
/*nav hamburger menu*/
.menu-btn {
   position: relative;
   display: none;
   justify-content: center;
   align-items: center;
   width: 1.5rem;
   height: 1.5rem;
   cursor: pointer;
   z-index: 1;
 }
 .menu-btn_lines,
 .menu-btn_lines::before,
 .menu-btn_lines::after {
   width: 1.5rem;
   height: 0.1rem;
   background-color: #111;
   transition: all 0.5s ease-in-out;
 }
 .menu-btn_lines::before,
 .menu-btn_lines::after {
   content: " ";
   position: absolute;
 }
 .menu-btn_lines::before {
   transform: translateY(-0.5rem)
 }
 .menu-btn_lines::after {
   transform: translateY(0.5rem)
 }
 /*animation*/
 .menu-btn.open .menu-btn_lines {
   transform: translateX(2rem);
   background-color: transparent;
 }
 .menu-btn.open .menu-btn_lines::before {
   transform: rotate(45deg) translate(-1.5rem, 1.5rem);
   background-color: #ffffff;
 }
 .menu-btn.open .menu-btn_lines::after {
   transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
   background-color: #ffffff;
 }
.container{
  width: auto;
   background-color:#ccc7d3;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.container .section_title {
  width: 100%;
  margin-top: 3rem;
   padding: 4rem;
   background-color:#573c84;
}
 .container .section_title h1{
   padding: 1rem;
   text-align: center;
   color:#dfdbe5;
}
.container .section_title h2{
   color: #dfdbe5;
}
.image-container {
  /*width:40vw;
  max-width: 90vw;*/
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 2fr;
  gap: 50px 20px;
  padding: clamp(20px, 5%, 30px) clamp(40px, 10%, 100px);
  align-content: center;
}
.container .image-container .image{
   height: 450px;
   width: 350px;
   cursor:pointer;
}
.container .image-container .image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: 0.2s linear;
   border: 10px solid #fff;
   box-shadow: 0 5px 15px rgba(0,0,0,0.5);
   border-radius: 10px;
   overflow: hidden;
   cursor:pointer;
}
.container .image-container .image:hover img{
  transform: scale(1.02);
}

.container .image-container .image-description{
  color: rgb(32, 28, 33);
  /*font-size: clamp(20px, 3vw, 30px);*/
  margin:auto 0;
  background-color: rgba(185, 169, 202, 0.5);
  border-radius: 10px;
  padding: 50px 20px;
  padding: 20px 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  color:#140e1f;
}
.container .popup-image{
   position:fixed;
   top:0; left:0;
   background: rgba(0,0,0,0.9);
   height: 100%;
   width: 100%;
   z-index: 100;
   display: none;
}
.container .popup-image span{
   position: absolute;
   top:0; right: 10px;
   font-size: 60px;
   font-weight: bolder;
   color: #fff;
   cursor:pointer;
   z-index: 100;
}   
.container .popup-image img{
   position:absolute;
   top:50%; left: 50%;
   transform: translate(-50%, -50%);
   border: 5px solid #fff;
   border-radius: 5px;
   width: 750px;
   object-fit: cover;
}
/********************for Mobile Devices*************************/
@media (200px <= width <= 300px){
  .header a{
    font-size: 1.2rem;
  }
  .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }
  .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    color:#5a4d70;
  }
  .container{
    width:100%;
  }
  .container .popup-image img{
    width: 90%;
  }
  .container .image-container{
    max-width: 100%;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap:15px;
    align-content: center;
  }
  .container .image-container .image{
    height: 44vh;
    width: 90vw;
    padding: 10px;
    cursor:pointer;
    margin: 0 auto; 
  }
  .container .image-container .image-description{
    color:#140e1f;
    padding: 1em;
    width: 100%;
    margin:0;
  }
 .container .section_title {
   width: 100%;
   margin-top: 2rem;
   padding: 2rem 1.2rem;
   padding-bottom: 2.3rem;
   background-color:#573c84;
}
 .container .section_title h1{
   padding: 1.2rem;
   padding-bottom: 0.5rem;
   font-size: 1.6rem;
   text-align: center;
   color:#dfdbe5;
 }
  .container .section_title h2{
  padding:0;
  margin: 0;
  font-size: 1rem;
  text-align: center;
  display:none;
  }
}
@media (301px <= width <= 600px){
  .header a{
    font-size: 1.3rem;
  }
  .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }
  .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    color:#5a4d70;
  }
  .container{
    width:100%;
  }
  .container .popup-image img{
    width: 90%;
  }
  .container .image-container{
    max-width: 100%;
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap:15px;
    align-content: center;
  }
   .container .image-container .image{
    height: 44vh;
    width: 70vw;
    padding: 10px;
    cursor:pointer;
    margin: 0 auto; 
 }
  .container .image-container .image-description{
    color:#140e1f;
    padding: 1em;
    width: 100%;
    margin:0;
  }
 .container .section_title {
   width: 100%;
   margin-top: 2rem;
   padding: 2rem 1.2rem;
   padding-bottom: 2.3rem;
   background-color:#573c84;
}
 .container .section_title h1{
   padding: 1.2rem;
   padding-bottom: 0.5rem;
   font-size: 1.6rem;
   text-align: center;
   color:#dfdbe5;
 }
  .container .section_title h2{
  padding:0;
  margin: 0;
  font-size: 1.1rem;
  text-align: center;
  }
}
@media (601px <= width <= 768px){
  .header a{
    font-size: 1.6rem;
  }
  .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }
  .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    color:#5a4d70;
  }
  .container .image-container{
    max-width: 100%;
    width:90%;
}
  .container .image-container .image{
    height: 350px;
    width: 300px;
  }
  .container .image-container .image-description{
    padding:1.5rem;
    align-self: center;
  }
}
@media (769px <= width <= 800px) {
  .header a{
    font-size: 1.7rem;
  }
  .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }
  .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    color:#5a4d70;
  }
  .container{
    width: 100%;
     background-color:#ccc7d3;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-left: 0;
     margin-right: 0;
     padding: 0;
  }
  .image-container {
    /*width:40vw;
    max-width: 90vw;*/
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 50px 20px;
    padding: clamp(20px, 5%, 30px) clamp(40px, 10%, 100px);
    align-content: center;
  }
}
@media (801px <= width <= 910px) {
  .header a{
    font-size: 1.7rem;
  }
  
  .container{
    width: 100%;
     background-color:#ccc7d3;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-left: 0;
     margin-right: 0;
     padding: 0;
  }
  .image-container {
    /*width:40vw;
    max-width: 90vw;*/
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 50px 20px;
    padding: clamp(20px, 5%, 30px) clamp(40px, 10%, 100px);
    align-content: center;
  }
}
@media (911px <= width <= 1000px){
  .header a{
    font-size: 1.7rem;
  }
  .container{
    width: 100%;
     background-color:#ccc7d3;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-left: 0;
     margin-right: 0;
     padding: 0;
  }
  .image-container {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 50px 20px;
    padding: clamp(20px, 5%, 30px) clamp(40px, 10%, 100px);
    align-content: center;
  }
}
/*************Landscape styles in Mobile devices******************/
@media only screen and (min-width: 600px) and (max-width: 660px) and (orientation: landscape){
  .header a{
    font-size: 1.35rem;
  }
  .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }
  .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    color:#5a4d70;
  }
  .container .image-container .image{
    height: 300px;
    width: 260px;
  }
  .container .popup-image img{
    width: 190px;
  }
}
@media only screen and (min-width: 661px) and (max-width: 700px) and (orientation: landscape){
  .header a{
    font-size: 1.35rem;
  }
  .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }
  .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    color:#5a4d70;
  }
  .container .image-container .image{
  height: 260px;
  width: 230px;
  }
  .container .popup-image img{
    width: 255px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 799px) and (orientation: landscape){
  .header a{
    font-size: 1.35rem;
  }
  .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }
  .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    color:#5a4d70;
  }
  .container .image-container .image{
    height: 300px;
    width: 260px;
  }
  .container .popup-image img{
    width: 250px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 910px) and (orientation: landscape){
  .header a{
    font-size: 1.32rem;
  }
  .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }
  .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    color:#5a4d70;
  }
  .container .image-container .image{
    height: 72vh;
    width: 28vw;
  }
  .container .popup-image img{
    width: 270px;
  }
}
@media only screen and (min-width: 910px) and (max-width: 932px) and (orientation: landscape){
  .header a{
    font-size: 1.32rem;
  }
}
@media only screen and (min-width: 933px) and (max-width: 1100px) and (orientation: landscape){
  .header a{
    font-size: 1.7rem;
  }
  .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }
  .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    color:#5a4d70;
  }
  .container .image-container{
    width:80%;
  }
  .container .image-container .image{
    height: 350px;
    width: 300px;
  }
  .container .popup-image img{
    width: 400px;
  }
}
@media only screen and (min-width: 1101px) and (max-width: 1281px) and (orientation: landscape){}

@media only screen and (min-width: 1282px) and (max-width: 1400px) and (orientation: landscape){  
  .container .popup-image img{
    width: 45vw;
  }
}