
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:"Montserrat", sans-serif;
  background-color: #dfdbe5;
}

/*header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
  background-color: #dfdbe5;
}
  
.header a {
  text-decoration: none;
  color: #111;
  font-size: 2rem;
  font-weight: bolder;
}

.menu-items {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-items li a {
  font-size: 1.2rem;
  padding: 0.5em 1em;
  transition: background-color 0.3s ease-in-out;
}

.menu-items li a:hover {
  background-color: #ccc7d3;
}

/*nav hamburger menu*/
.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 1;
}

.menu-btn_lines,
.menu-btn_lines::before,
.menu-btn_lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background-color: #111;
  transition: all 0.5s ease-in-out;
}

.menu-btn_lines::before,
.menu-btn_lines::after {
  content: " ";
  position: absolute;
}

.menu-btn_lines::before {
  transform: translateY(-0.5rem)
}

.menu-btn_lines::after {
  transform: translateY(0.5rem)
}

/*animation*/
.menu-btn.open .menu-btn_lines {
  transform: translateX(2rem);
  background-color: transparent;
}

.menu-btn.open .menu-btn_lines::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background-color: #ffffff;
}

.menu-btn.open .menu-btn_lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background-color: #ffffff;
}

/*sections*/
.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}

/*hero section*/
.hero-section {
  background-color: #dfdbe5;
}

.hero-col {
  padding: clamp(1rem, 2vw, 5rem);
  width: 100%;
  /*not sure about this code*max-width: 40%;*/
}

.section h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: clamp(20px, 2vw, 200px);
  font-weight: 700;
  line-height: 6vh;
  color: #ccc7d3;
  text-transform: uppercase;
  text-align: right;
}

.section h2 {
  font-size: clamp(15px, 2vw, 30px);
  color: #5a4d70;
  padding-left: 3rem;
  text-transform: uppercase;
  text-align: right;
}

.section p {
  color: #5a4d70;
  padding-top: 2rem;
  padding:2rem;
  font-size: clamp(15px, 1vw, 30px);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.hero-section img {
  width: clamp(200px, 40vw, 700px);
}

.icon_container{
  padding: 2vh;
  background-color: #573c84;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* For the Instagram icon*/
.fab.fa-instagram {
  padding: 0.75rem;
  padding: 1rem;
  font-weight: bold;
  color: rgb(238, 237, 237);
  font-size: 25px;
  transition: opacity 0.4s ease-in-out;
  align-self: center;
  border-radius: 50%;
}
/* For the Behance and ArtStation icons*/
.fab.fa-behance, .fab.fa-artstation {
  padding: 0.75rem;
  color: rgb(238, 237, 237);
  font-size: 25px;
  transition: opacity 0.4s ease-in-out;
  align-self: center;
  border-radius: 50%;
}

/* Add hover effect for both icons */
.fab.fa-instagram:hover,
.fab.fa-behance:hover, 
.fab.fa-artstation:hover {
  background-color: #9f98aa;
  transition: opacity 0.4s ease-in-out;
}

/* Etsy store icon*/
.fas.fa-shopping-cart {
  position: relative;
  color: #fff;
  padding: 0.75rem;
  font-size: 25px;
  transition: background-color 0.3s ease-in-out; 
  align-self: center;
  border-radius: 50%;
}
.fas.fa-shopping-cart:hover{
  background-color: #9f98aa;
  &::after {
    content: "Coming Soon";
    position: absolute;
    bottom: 25%;
    left:30%;
    transform: translateX(-45%);
    transform: translateY(30%);
    font-size: 15px;
    color: black;
    font-weight: 800;
  }
}

footer p{
  font-size: 1em;
  background-color:#dfdbe5;
}

/*********Media queries for Mobile Devices***/
@media (100px <= width <= 300px) {
  .header a{
    font-size: 1.15rem;
  }
  .hero-section{
    height:85vh;
  }
  .hero-col h1 {
    position: absolute;
    font-size: 1.7rem;
    top: 51vh;
    left: 10vw;
    }
  .hero-col h2 {
    position: absolute;
    top: 57vh;
    left: 2vw;
    font-size: clamp(15px, 2vw, 20px);
  }
  .hero-col p {
    position: absolute;
    left:0;
    top: 57vh;
    right:1vw;
    font-size: 15px;
    padding-left: 1.5rem;
    line-height: 1rem;
  }
  .hero-section img {
    position: absolute;
    width:85vw;
    left: 7%;
    top: 9vh;
  }
  .icon_container{
    padding:0.4rem;
  }
  .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }
  .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    color:#5a4d70;
  }
  .hero-section{
    overflow: none;
  }
  .footer{
    font-size: 0.8rem;
  }
}
@media (300px <= width <= 400px) {
  .header a{
    font-size: 1.3rem;
  }
  .hero-section{
    height: 100vh;
  }
  .hero-col h1 {
    position: absolute;
    font-size: 1.7rem;
    top: 63vh;
    left: 10vw;
    }  
  .hero-col h2 {
    position: absolute;
    top: 68vh;
    left: 18vw;
    font-size: clamp(16px, 2vw, 20px);
  }
  .hero-col p {
    position: absolute;
    left:0;
    top: 69vh;
    right:1vw;
    font-size: 1.1rem;
    line-height: 1.3rem;
    padding-left: 1.5rem;
  }
  .hero-section img {
    position: absolute;
    width:88vw;
    left: 5%;
    top: 8vh;
  }
  .icon_container{
    padding: 0.4rem;
  }
  .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }
  .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    color:#5a4d70;
  }
}
@media (400px <= width <= 500px) {
  .header a{
    font-size: 1.3rem;
  }
  .hero-section{
    height: 90vh;
  }
  .hero-col h1 {
    position: absolute;
    font-size: 1.7rem;
    top: 56vh;
    left: 10vw;
  }
  .hero-col h2 {
    position: absolute;
    top: 62vh;
    left: 18vw;
    font-size: clamp(15px, 2vw, 20px);
  }
  .hero-col p {
    position: absolute;
    left:0;
    top: 63vh;
    right:1vw;
    font-size: 1.1rem;
    line-height: 1.3rem;
    padding-left: 1.7rem;
  }
  .hero-section img {
    position: absolute;
    width:85vw;
    left: 8%;
    top: 10vh;
  }
  .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }
  .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    color:#5a4d70;
  }
}
@media (501px <= width <= 600px){
  .header a{
    font-size: 1.3rem;
  }
  .hero-section{
    height: 115vh;
  }
  .hero-col h1 {
      position: absolute;
      font-size: clamp(40px, 4vw, 50px);
      top: 76vh;
      left: 13vw;
    } 
    .hero-col h2 {
      position: absolute;
      top: 82vh;
      left: 35vw;
      font-size: 1.1rem;
  }
    .hero-col p {
      position: absolute;
      left:0;
      top: 84vh;
      right:1vw;
      font-size: clamp(20px, 2vw, 30px);
      padding-left: 3rem;
  }
    .hero-section img {
      position: absolute;
      width:80vw;
      left: 8%;
      top: 9vh;
    }
  .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }
  .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    color:#5a4d70;
  }
  .hero-section{
    overflow: none;
  }
}
@media (601px <= width <= 768px){
  .header a{
    font-size: 1.6rem;
  }
  .hero-section{
    height: 98vh;
  }
  .hero-col h1 {
      position: absolute;
      font-size: clamp(40px, 4vw, 50px);
      top: 74vh;
      left: 18vw;
    } 
    .hero-col h2 {
      position: absolute;
      top: 79vh;
      left: 35vw;
      font-size: clamp(20px, 2vw, 30px);
  }

  .hero-col p {
      position: absolute;
      left:0;
      top: 80vh;
      right:1vw;
      font-size: clamp(20px, 2vw, 30px);
      padding-left: 3rem;
  }

  .hero-section img {
    position: absolute;
    width:80vw;
    left: 8%;
    top: 6vh;
  }

  .menu-btn {
    display: flex;
  }

  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }

  .menu-items.open {
    transform: translateX(0);
  }

  .menu-items li {
    width: 100vw;
    height: 100%;
  }

  .menu-items li a {
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .menu-items li a:hover {
    color: #111111;
    color:#5a4d70;
  }

  .hero-section{
    overflow: none;
  }
}
@media (769px <= width <= 1024px){
  .header a{
    font-size: 1.7rem;
  }
  .hero-col h1 {
      position: absolute;
      font-size: clamp(40px, 4vw, 50px);
      top: 70vh;
      left: 17vw;
    }   
  .hero-col h2 {
    position: absolute;
    top: 75vh;
    left: 34vw;
    font-size: clamp(25px, 2vw, 35px);
  }
  .hero-col p {
    position: absolute;
    left:0;
    top: 78vh;
    right:1vw;
    font-size: clamp(25px, 2vw, 40px);
    padding-left: 3rem;
  }
  .hero-section img {
    position: absolute;
    width:75vw;
    left: 9%;
    top: 6vh;
  }
  .menu-btn {
    display: flex;
  }
  .menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45vh;
    transform: translateX(100vw);
    background-color: #5a4d70;
    transition: transform 0.3s ease-in-out;
  }
  .menu-items.open {
    transform: translateX(0);
  }
  .menu-items li {
    width: 100vw;
    height: 100%;
  }
  .menu-items li a {
    color: #ffffff;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .menu-items li a:hover {
    color:#5a4d70;
  }
  .hero-section{
    overflow: none;
  }
}
@media (1025px<= width <=1223px){
    .hero-section{
      overflow: hidden;
    }
    .header a {
      text-decoration: none;
      color: #111;
      font-size: 2rem;
      font-weight: bolder;
    } 
    .menu-items li a {
      font-size: 1.2rem;
      padding: 0.5em 1em;
    }
    .hero-col h1 {
      position: absolute;
      font-size: clamp(40px, 4vw, 50px);
      top: 75vh;
      left: 10vw;
    }
    .hero-col h2 {
      position: absolute;
      top: 80vh;
      left: 30vw;
      font-size: clamp(25px, 2vw, 35px);
    }
    .hero-col p {
      position: absolute;
      left:0;
      top: 85vh;
      right:1vw;
      font-size: clamp(30px, 2vw, 40px);
      padding: 1rem;
      padding-left: 3rem;
      padding-right: 3rem;
    }
    .hero-section img {
      position: absolute;
      width:70vw;
      left: 8%;
      top: 6vh;
    }
} 
@media (1224px <= width <=1369px) {
  /* CSS rules for desktops and larger screens */
  .section h1 {
    position: absolute;
    top:28vh;
    font-family: "Titillium Web", sans-serif;
    font-size: clamp(30px, 4vw, 200px);
    font-weight: 700;
    line-height:5vh;
    color: #ccc7d3;
    text-transform: uppercase;
    text-align: right;
  }
  .section h2 {
    position: absolute;
    top: 33vh;
    font-size: clamp(15px, 2vw, 30px);
    color: #5a4d70;
    padding-left: 2rem;
    text-transform: uppercase;
    text-align: right;
  }
  .section p {
    position: absolute;
    top:82vh;
    color: #5a4d70;
    padding-top: 2rem;
    font-size: clamp(15px, 2vw, 30px);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 3rem;
  }
  .hero-section img {
    width: clamp(350px, 60vw, 900px)
  }
}
@media screen and (min-width: 1370px) and (max-width: 1700px) {
  .section h1{
    font-size: clamp(40px, 4vw, 200px);
  }
  .section h2 {
  font-size: clamp(18px, 2vw, 30px);
  }
  .section p {
    font-size: clamp(19px, 2vw, 30px);
  }
}

/*******Landscape Mode*************/
@media only screen and (min-width: 600px) and (max-width: 654px) and (orientation: landscape){
  .header a{
    font-size: 1.35rem;
}
  .hero-col h1 {
    position: absolute;
    font-size: 30px;
    top: 147vh;
    left: 25vw;
  }
  .hero-col h2 {
    position: absolute;
    top: 157vh;
    left: 30vw;
    font-size: 18px;
  }
  .hero-col p {
    position: absolute;
    left:0;
    top: 160vh;
    right:1vw;
    font-size: 1.1rem;
    padding-left: 2.5rem;
  }
  .hero-section img {
    position: absolute;
    width:50%;
    left: 25%;
    top: 14vh;
  }
  .icon_container{
    margin-top: 20rem;
  }
}
@media only screen and (min-width: 655px) and (max-width: 710px) and (orientation: landscape) {
  .header a{
    font-size: 1.35rem;
  }
  .hero-col h1 {
    position: absolute;
    font-size: 30px;
    top: 135vh;
    left: 25vw;
    }
  .hero-col h2 {
    position: absolute;
    top: 143vh;
    left: 30vw;
    font-size: 18px;
  }
  .hero-col p {
    position: absolute;
    left:0;
    top: 150vh;
    
    font-size: 1.2rem;
    padding-left: 2.3rem;
  }
  .hero-section img {
    position: absolute;
    width:60vw;
    left: 19%;
    top: 14vh;
  }
  .icon_container{
    margin-top: 25rem;
  }
  footer{
    font-size: 1rem;
  }
}

@media only screen and (min-width: 711px) and (max-width: 721px) and (orientation: landscape) {
  .header a{
    font-size: 1.35rem;
  }

  .hero-col h1 {
    position: absolute;
    font-size: 35px;
    top: 38rem;
    left: 20vw;
    }
    
  .hero-col h2 {
    position: absolute;
    top: 41rem;
    left: 42vw;
    font-size: clamp(15px, 2vw, 20px);
  }

  .hero-col p {
    position: absolute;
    left:0;
    top: 43rem;
    right:1vw;
    font-size: 1.1rem;
    padding-left: 3rem;
  }

  .hero-section img {
    position: absolute;
    width:65vw;
    left: 19%;
    top: 6vh;
  }

  .icon_container{
    margin-top: 20rem;
  }
footer{
  font-size: 1rem;
}
}

@media only screen and (min-width: 722px) and (max-width: 741px) and (orientation: landscape) {
  .header a{
    font-size: 1.35rem;
  }
  .hero-col h1 {
    position: absolute;
    font-size: 1.7rem;
    top: 35rem;
    left: 22vw;
    }
  .hero-col h2 {
    position: absolute;
    top: 37rem;
    left: 33vw;
    font-size: clamp(15px, 2vw, 20px);
  }
  .hero-col p {
    position: absolute;
    left:0;
    top: 40rem;
    right:1vw;
    font-size: 1.1rem;
    padding: 1em;
  }
  .hero-section img {
    position: absolute;
    width:60vw;
    left: 20%;
    top: 14vh;
  }
  .icon_container{
    margin-top: 26rem;
  }
  .footer{
    font-size: 1rem;
  }
}

@media only screen and (min-width: 741px) and (max-width: 932px) and (orientation: landscape) {
  .header a{
    font-size: 1.35rem;
  }
  .hero-col h1 {
    position: absolute;
    font-size: 2.5rem;
    top: 40rem;
    left: 27vw;
  }  
  .hero-col h2 {
    position: absolute;
    top: 42rem;
    left: 38vw;
    font-size: clamp(15px, 2vw, 30px);
  }
  .hero-col p {
    position: absolute;
    left:0;
    top: 44rem;
    right:1vw;
    font-size: 1.2rem;
    padding-left: 2.5rem;
  }
  .hero-section img {
    position: absolute;
    width:60vw;
    left: 20vw;
    top: 10vh;
  }
  .icon_container{
    margin-top: 30rem;
  }
  .footer{
    font-size: 1rem;
  }
}

@media only screen and (min-width: 933px) and (max-width: 1000px) and (orientation: landscape){
  .header a{
    font-size: 1.7rem;
  }
  .section {
    position: relative;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-col h1 {
    position: absolute;
    font-size: 45px;
    top: 52rem;
    left: 16rem;
  }
  .hero-col h2 {
    position: absolute;
    top: 55rem;
    left: 24rem;
    font-size: clamp(15px, 2vw, 20px);
  }
  .hero-col p {
    position: absolute;
    left:0;
    top: 58rem;
    font-size: 1.3rem;
    padding: 2rem;
  }
  .hero-section img {
    position: absolute;
    width:70vw;
    left: 20%;
    top: 3vh;
  }
  .icon_container{
    margin-top: 13rem;
  }
  .footer{
  font-size: 1.0rem;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1024px) and (orientation: landscape){
  .section {
    position: relative;
    height: 180vh;
  }
  .hero-col h1 {
    font-size: 45px;
    top: 52rem;
    left: 16rem;
  }
  .hero-col h2 {
    top: 55rem;
    left: 24rem;
    font-size: clamp(15px, 2vw, 20px);
  }
  .hero-col p {
    left:0;
    top: 58rem;
    font-size: 1.3rem;
    padding-left: 2.2rem;
  }
  .hero-section img {
    position: absolute;
    width:70vw;
    left: 15%;
    top: 3vh;
  }
  .icon_container{
    
  }
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (min-device-height: 768px) 
  and (max-device-height: 768px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1){
    /*Landscape styles for Ipad Mini*/
  .header a{font-size: 2rem;}
  .section {
    position: relative;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-col h1 {
    position: absolute;
    font-size: 45px;
    top: 52rem;
    left: 16rem;
  }
  .hero-col h2 {
    position: absolute;
    top: 55rem;
    left: 24rem;
    font-size: clamp(15px, 2vw, 20px);
  }
  .hero-col p {
    position: absolute;
    left:0;
    top: 58rem;
    font-size: 1.3rem;
    padding-left: 2.2rem;
  }
  .hero-section img {
    position: absolute;
    width:70vw;
    left: 15%;
    top: 3vh;
  }
  .icon_container{
    margin-top: 0;
  }
  .footer{
  font-size: 1.0rem;
  }
  }
@media only screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: landscape){
  .header a{
    font-size: 1.7rem;
  }
  .section {
    position: relative;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-col h1 {
    position: absolute;
    font-size: 45px;
    top: 56rem;
    left: 16rem;
    }
  .hero-col h2 {
    position: absolute;
    top: 60rem;
    left: 28rem;
    font-size: clamp(15px, 2vw, 20px);
  }
  .hero-col p {
    position: absolute;
    left:0;
    top: 63rem;
    font-size: 1.3rem;
    padding: 2rem;
  }
  .hero-section img {
    position: absolute;
    width:65vw;
    left: 20%;
    top: 5vh;
  }
  .icon_container{
    margin-top: 0;
  } 
footer{
  font-size: 1.0rem;
}
}
@media only screen and (min-width: 1201px) and (max-width: 1300px) and (orientation: landscape){
  .header a{
    font-size: 1.7rem;
  }
  .section {
    position: relative;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-col h1 {
    position: absolute;
    font-size: 45px;
    top: 61rem;
    left: 14rem;
    }
  .hero-col h2 {
    position: absolute;
    top: 64rem;
    left: 28rem;
    font-size: clamp(15px, 2vw, 20px);
  }
  .hero-col p {
    position: absolute;
    left:0;
    top: 65rem;
    font-size: 1.3rem;
    padding-left: 4rem;
  }
  .hero-section img {
    position: absolute;
    width:65vw;
    left: 18%;
    top: 5vh;
  }
  .icon_container{
    margin-top: 0;
  }
footer{
  font-size: 1.0rem;
}
}
@media only screen and (min-width: 1301px) and (max-width: 1368px) and (orientation: landscape){
  .header a{
    font-size: 2rem;
  }
  .section {
    position: relative;
    height: 140vh;
    display: flex;
    align-items: center;
  }
  .hero-col h1 {
    position: absolute;
    font-size: 3.2rem;
    top: 58rem;
    left: 28vw;
    }
    
  .hero-col h2 {
    position: absolute;
    top: 61rem;
    left: 42vw;
    font-size: clamp(15px, 2vw, 20px);
  }
  .hero-col p {
    position: absolute;
    left:0;
    top: 61rem;
    right:1vw;
    font-size: 1.5rem;
    padding-left: 5rem;
    padding-right: 4rem;
    
  }
  .hero-section img {
    position: absolute;
    width:57vw;
    left: 25%;
    top: 4vh;
  }
  .icon_container{
   margin-top: 2rem;
  }

  footer{
    font-size: 1.2rem;
  }
 }
